%%-*- mode: erlang -*-

{deps, [
    {erlsom, ".", 
        {git, "https://github.com/willemdj/erlsom.git", "HEAD"}
    },
    {parsexml, ".", 
        {git, "https://github.com/maxlapshin/parsexml.git", "HEAD"}
    },
    {exomler, ".",
        {git, "https://github.com/kostyushkin/exomler.git", "HEAD"}
    }
]}.


{clean_files, ["deps", "ebin"]}.
