%%-*- mode: erlang -*-

{deps, [
    {erlsom, ".", 
        {git, "https://github.com/willemdj/erlsom.git", "HEAD"}
    },
    {exomler, ".",
        {git, "https://github.com/kostyushkin/exomler.git", "HEAD"}
    },
    {exmpp, ".",
        {git, "https://github.com/kostyushkin/exmpp.git", "b3bac2b8d9"}
    }
]}.


{clean_files, ["deps", "ebin"]}.
